<section class="font-montserrat min-h-screen flex items-start justify-center pt-32">
    <div class="container mx-auto flex px-5 items-center justify-center flex-col">
        <div class="text-center lg:w-2/3 w-full">
            <a class="flex justify-center mb-4 md:mb-0">
                <img src="../../../assets/img/smartnow_logo_bgwhite.png" alt="SmartNow logo"
                    class="h-20 w-auto md:h-20 lg:h-36">
            </a>
            <div class="flex justify-center mt-32">
                <button (click)="scrollTo('contact')" class="
                        inline-flex 
                        font-poppins 
                        focus:outline-none 
                        text-black 
                        hover:text-gray-900 
                        bg-white 
                        hover:bg-accent 
                        border-0 
                        py-2 px-6 
                        rounded-3xl 
                        text-lg 
                        hover:ring-2 
                        hover:ring-accent 
                        hover:ring-offset-2
                        ">
                    smart together
                </button>
            </div>
        </div>
    </div>
</section>